header
{
background-color:lightblue;
color:white;
font-family:Engravers MT;
font-size:20px;
padding:10px;
}
#th
{
    color:lightblue;
    font-weight: bold;
}
#button
{
    
    border: 2px solid darkblue;
    padding: 10px 40px; 
    background: lightblue;
    width: 150px;
    border-radius: 25px;
    color:white;

}
table
{
    
   margin-left:25%;
}
fieldset
{
 margin-left:35%;
    width:25%;
    height: 70%;
   
}

