body
{
background-color:DarkSlateGray;
font-size:50;
background-image:url("lock.png");
repeat:none;
color:white;
}
#demo
{
font-size:50;color:white; text-align:center;
}


a:visited{font-size:50;color:white;}
a:hover{font-size:70;color:white;}

table,tr,td{
color:white;
margin-left:10%;
font-size:40;
width:50%;
height:50%;

}
h1
{
margin-left:10%;
margin-bottom:5%;
margin-top:5%;
font-size:350%;
}
footer
{
font-weight:bold;
text-align:center;
margin-top:10%;
margin-left:6%;
font-family:Comic Sans MS;
font-size:35px;
color:white;
}
